<footer class="margin-footer text-center text-lg-start bg-transparent text-muted">
  <section>
    <div class="container-footer-line">
      <i class="footer-line"></i>
    </div>
    <div class="text-center p-4 author">
      Designed & Built by YNG_TECH
    </div>
  </section>
</footer>