<meta charset="UTF-8" />

<meta name="description" content="" />
<meta name="theme-color" content="" />
<meta name="viewport" content= "width=device-width, user-scalable=no">
<meta name="language" content="" />
<meta name="keywords" content="" />
<meta name="author" content="" />

<meta property="og:description" content="" />
<meta property="og:image" content="" />
<meta property="og:title" content="" />
<meta property="og:type" content="" />

<link rel="stylesheet" href="http://localhost:8080/css/navbar.css" />
<link rel="stylesheet" href="http://localhost:8080/css/footer.css" />
<link rel="stylesheet" href="http://localhost:8080/css/global.css" />
<link rel="stylesheet" href="http://localhost:8080/css/loading.css" />
<link rel="stylesheet" href="http://localhost:8080/css/<%= settings.css %>.css" />
<link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.1.2/css/all.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/5.0.0/mdb.min.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"/>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"/>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css" />
<link rel="stylesheet" href="https://fonticons-free-fonticons.netdna-ssl.com/kits/1ce05b4b/publications/119905/woff2.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

<script type="text/javascript" src="http://localhost:8080/script/loading.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.1.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.1.slim.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.1.slim.min.js"></script>
<script src="https://weblate-cdn.com/a5ba5dc29f39498aa734528a54b50d0a/weblate.js" async></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/5.0.0/mdb.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

<title>•⠀<%= settings.title %></title>
<link rel="icon" sizes="60x60" type="image/png" href="<%= settings.icon %>" />