footer {
  font-family: "Pompiere";
  bottom: 0;
  width: 100%;
  text-align: center;
}

.footer-line {
  background-color: var(--color-two);
  height: 1px;
  width: 100%;
}

.container-footer-line {
  max-width: 90%;
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

.author {
  font-size: 18px;
  color: var(--color-one);
}

.margin-footer {
  margin-top: 5rem;
}
