<!DOCTYPE html>
<html>

<head>
    <%- include("settings"); %>
</head>

<body>
    <%- include("loading"); %>
    <%- include("navbar"); %>

    <% if(error == true) { %>
        <script>
            const alert = bootstrap.Alert.getOrCreateInstance('#alertExample')
            alert.close()
        </script>
        <div class="alert alert-danger mb-0 alert-dismissible alert-absolute fade show" id="alertExample" role="alert" data-mdb-color="secondary">
            <i class="fas fa-exclamation-triangle"></i> — 
            <%= message %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" data-bs-target="#my-alert" aria-label="Close"></button>
        </div>
        <% } %>
        
    <main>
        <div class="row justify-content-center text-center">
            <div class="col-md-8 col-lg-6">
                <div class="header">
                    <div class="container-footer-line">
                        <i class="footer-line"></i>
                    </div>
                    <h2>SIGNUP</h2>
                    <div class="container-footer-line">
                        <i class="footer-line"></i>
                    </div>
                </div>
            </div>
        </div>

        <p class="font-medium text-center m-bottom-double">The best prices on the market and the rarest products <strong>in one place!</strong></p>

        <div class="wrap-login100 p-t-50 p-b-90 login-form row justify-content-center">
            <form class="login100-form validate-form flex-sb flex-w col-md-6 col-lg-4" action="/signup" method="POST">
                <div class="wrap-input100 validate-input m-b-16" data-validate="Name is required">
                    <input class="input100" type="text" name="name" placeholder="Name">
                    <span class="focus-input100"></span>
                </div>
                <div class="wrap-input100 validate-input m-b-16" data-validate="E-mail is required">
                    <input class="input100" type="text" name="email" placeholder="E-mail">
                    <span class="focus-input100"></span>
                </div>
                <div class="wrap-input100 validate-input m-b-16" data-validate="Password is required">
                    <input class="input100" type="password" name="password" placeholder="Password">
                    <span class="focus-input100"></span>
                </div>
                <div class="wrap-input100 validate-input m-b-16" data-validate="Confirm password is required">
                    <input class="input100" type="password" name="confirm_password" placeholder="Confirm Password">
                    <span class="focus-input100"></span>
                </div>
                <div class="container-login100-form-btn m-t-17">
                    <button class="login100-form-btn">Create</button>
                </div>
                <div class="flex-sb-m w-full p-t-3 p-b-24 text-center p-4">
                    <div class="text-75897kh">
                        Have an account? <a class="link" href="/login">Login.</a>
                    </div>
                </div>
            </form>
        </div>
    </main>
</body>

</html>